@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../imagens/fundo02.jpg') no-repeat fixed;
    background-size: cover;
    background-position: top center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
h1 {
    font-size: 60px;
    width: 750px;
    margin: 10px auto;
}
h2 {
    font-size: 20px;
    margin: 10px auto;
}
p{
    font-size: 16px;
    margin: 10px auto;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 30px 40px;
}
select {
    background: transparent;
    color: rgb(231, 231, 231);
    font-size: 18px;
    border-radius: 2px;
    padding: 5px;
}
option {
    background: transparent;
    color: black;
    text-align: center;
}
#button-entrar {
    background: red;
    width: 100px;
    padding: 8px;
    margin-left: 15px;
    margin-right: 20px;
    font-size: 18px;
    color: rgb(231, 231, 231);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
main {
    text-align: center;
    
}
.container {
    justify-content: space-around;
    margin: 120px auto;

}
#box-1 h1 {
    padding-top: 20vh;
    margin: auto auto;
}

input {
    border: 0;
    width: 600px;
    padding: 15px;
    font-size: 17px;
    color: gray;
}
#button-email {
    border: 0;
    color: rgb(231, 231, 231);
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    background-color: red;
    border-radius: 0px 3px 3px 0px;
}
#button-email:hover {
    background: rgb(207, 0, 0);
}
@media (max-width:520px) {
    header {
        padding: 10px 10px 10px 10px;
    }
    header img {
        width: 100px;
    }
    header select {
        width: 110px;
        font-size: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    #button-entrar {
        width: 20vw;
        font-size: 14px;
        padding: 8px;
    }
    h1 {
        margin-top: 100px;
        width: 98%;
        font-size: 30px;
    }
    h2 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    input{
        width: 85%;
        margin-bottom: 20px;
    }
    #button-email {
        border-radius: 0 0 0 0;
    }
}
